<h1>Listing Feeds</h1>

<% @feeds.each do |feed| %>
<p>
   <a href="<%=h feed.url %>"><%=h feed.name %></a><br />
		Tag List: <%=h feed.tag_list %><br />
    <%= link_to 'Show', feed %> <%= link_to 'Edit', edit_feed_path(feed) %> <%= link_to 'x', feed, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end %>

<%= link_to 'New feed', new_feed_path %>
