<p>
  <b>Name:</b>
  <%=h @feed.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @feed.url %>
</p>

<p>
	<b>Tag List:</b>
	<%=h @feed.tag_list %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', root_path %>
